In [ ]:
"""
1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
"""
import pandas as pd

# Create the Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

In [ ]:
"""
2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

"""
import pandas as pd

# Create a list with 10 elements
my_list = [1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

# Convert the list to a Pandas Series
series = pd.Series(my_list)

# Print the series
print(series)

In [ ]:
"""
Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female
Then, print the DataFrame.

"""
import pandas as pd

# Create the data as a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create the DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

In [ ]:
"""
What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame is a 2-dimensional labeled data structure in Pandas, similar to a table in a database or an Excel spreadsheet.
It consists of rows and columns, where each column can have a different data type (e.g., integer, string, float).

Key Features of a DataFrame:

Tabular data with rows and columns.

Each column is a Pandas Series.

Columns can have different data types.

Supports indexing, slicing, filtering, and many operations.

What is a Series in Pandas?

A Series is a 1-dimensional labeled array that can hold any data type (integer, string, float, etc.).
It is like a single column of a DataFrame.

| Feature    | Pandas Series          | Pandas DataFrame                     |
| ---------- | ---------------------- | ------------------------------------ |
| Dimensions | 1-dimensional          | 2-dimensional                        |
| Structure  | Single column          | Multiple columns                     |
| Data type  | All elements same type | Each column can have different types |
| Indexing   | Single index           | Row index and column labels          |

"""
import pandas as pd

# Creating a Series
ages = pd.Series([25, 30, 27])
print("Series:\n", ages)

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print("\nDataFrame:\n", df)

In [ ]:
"""
5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

| Function/Method                 | Purpose                                                                                       |
| ------------------------------- | --------------------------------------------------------------------------------------------- |
| `head(n)`                       | Shows the first `n` rows of the DataFrame.                                                    |
| `tail(n)`                       | Shows the last `n` rows of the DataFrame.                                                     |
| `info()`                        | Provides summary information about the DataFrame, including column types and non-null counts. |
| `describe()`                    | Gives statistical summary (mean, std, min, max, quartiles) of numeric columns.                |
| `shape`                         | Returns the number of rows and columns `(rows, columns)`.                                     |
| `columns`                       | Returns a list of column names.                                                               |
| `dtypes`                        | Shows the data type of each column.                                                           |
| `sort_values(by='col')`         | Sorts the DataFrame by a specific column.                                                     |
| `drop(columns=['col'])`         | Removes specified columns.                                                                    |
| `rename(columns={'old':'new'})` | Renames columns.                                                                              |
| `filter()`                      | Selects specific columns or rows based on a condition.                                        |
| `groupby()`                     | Groups data based on column(s) and allows aggregation.                                        |
| `fillna()` / `dropna()`         | Handles missing data.                                                                         |
| `apply()`                       | Applies a function to each row or column.                                                     |
| `loc[]` / `iloc[]`              | Access specific rows/columns by label or index.                                               |

"""

import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David'],
    'Math': [85, 92, 78, 90],
    'Science': [88, 95, 80, 85]
}

df = pd.DataFrame(data)

# Example: Get the average score for Math using describe()
print(df['Math'].describe())

# Example: Sort the DataFrame by Science scores
sorted_df = df.sort_values(by='Science', ascending=False)
print(sorted_df)

In [ ]:
"""
6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series → Mutable
You can change values, add new elements, or modify existing ones.

DataFrame → Mutable
You can change values in cells, add/remove columns or rows.

Panel → Mutable (but deprecated since Pandas 0.25.0)
Panels were 3-dimensional data structures, and you could modify their data. However, Pandas no longer recommends using Panels; instead, you should use MultiIndex DataFrames or xarray for 3D data.

"""

In [ ]:
"""
Create a DataFrame using multiple Series. Explain with an example.

Explanation:

Each Series represents a column of data.

We pass the Series as values in a dictionary to pd.DataFrame(), where the keys become column names.

The resulting DataFrame is 2-dimensional, combining all Series into a tabular structure.
"""
import pandas as pd

# Create individual Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Combine Series into a DataFrame
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})

# Print the DataFrame
print(df)